/* Component classes (i.e. classes that correspond to a component) */
.header {
  font-size: 2em;
  background-color: #282c34;
  color: white;
  padding: 12px 8px;
}

/* Utility classes (i.e. classes that achieve an effect, can be used by different components) */
.pageWidth {
  max-width: 1040px;
  margin: 0 auto;
}
